.queryBox {
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  width: 40vw;
  margin: 10px;
  position: fixed;
  &:hover {
    border: 1x solid gray;
  }
}

.queryBox_quora h3{
  font-size: 1.5rem;
  color: #a0201c;
  font-weight: bold;
}
.queryBox_info h5{
  font-size: 1.2rem;
  color: #a0201c;
  font-weight: bold;
  margin-left: 10px;
}


@media screen and (max-width : 1250px) {
  .queryBox {
    width: 48vw;
  }
}


@media screen and (max-width : 867px) {
  .queryBox {
    width: 100%;
    /* margin: 10px; */
    margin: 5px -10px 0px 0px

  }
}
@media screen and (max-width : 791px) {
  .queryBox {
    width: 100%;
    margin: 10px;
    margin: 5px -10px 0px 0px
  }
}


@media screen and (max-width : 575px) {
  .queryBox {
    display: none;
    /* margin: 10px;
    width: 100%; */
  }
}

.queryBox_info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.queryBox_quora {
  display: flex;
  margin-top: 8px;
}

.add_button {
  width: 8rem;
  font-size: 0.8rem;
  color: white;
  text-transform: inherit;
  background-color: #a0201c;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;

  &:hover {
      background-color: #861e1a;
      box-shadow: 0px 1px 1px 1px gray;
  }
}