.following{
    box-sizing: border-box;
    background-color: transparent;
    height: auto;
    padding: 24px 0 24px 0;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width : 1118px) {
    .following{
        justify-content: end;
    }
}
@media screen and (max-width : 576px) {
    .following{
        justify-content: center;
    }
}

.following img{
    align-items: center;
    width: 10vw;
    max-width: 100%;
    /* margin-bottom: 4px; */
    margin: auto;
}

.following .caughtUptext{
    font-size: 1.1rem;
    font-weight: bold;
    color: #636466;
    text-align: center;
}

.following .feedText{
    color: #636466;
}