
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    background-image: url("../../assets/HomePageBackground.jpg");
    width: 100%;
    position: absolute;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.login__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
}

.login__logo {
    display: flex;
    justify-content: center;
}


.login__logo>img {
    width: 200px;
}

.login__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.login__desc>h3 {
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
    font-family: "Cedarville Cursive", cursive;
}

.login__desc>p {
    color: gray;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.login__auth {
    display: flex;
    margin-top: 50px;
}

.g-sign-in-button {
    margin: 10px;
    display: inline-block;
    width: 240px;
    height: 50px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.g-sign-in-button:active {
    background-color: #3367D6;
    transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.g-sign-in-button img {
    width: 18px;
    height: 18px;
}

.g-sign-in-button .logo-wrapper {
    padding: 15px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 1px;
    display: inline-block;
}

.g-sign-in-button .text-container {
    font-family: Roboto, arial, sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
}

.login__authOptions {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid lightgray;
    margin-left: 10px;
}

.login__authOption {
    display: flex;
    align-items: center;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.login__authOption:hover {
    background-color: rgb(226, 226, 226);
}

.login__authOption>img {
    height: 30px;
    object-fit: contain;
}

.login__authOption>p {
    margin-left: 11px;
}

.login__authDesc {
    display: flex;
    align-items: center;
    padding: 7px;
    margin-bottom: 15px;
}

.login__authDesc>p {
    font-size: small;
    color: gray;
}

.login__emailPass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    flex: 0.5;
    margin-left: 20px;
}

.login__label>h4 {
    padding: 5px;
}

.login__inputFields {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.login__inputField {
    padding: 5px 0px;
}

.login__inputField>input {
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(236, 236, 236);
}

.login__forgButt {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__forgButt>small {
    color: gray;
    cursor: pointer;
}

.login__forgButt>small:hover {
    color: blue;
    text-decoration: underline;
}

.login__forgButt>button {
    padding: 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #303237;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        background-color: #46484e;
    }
}

.login_buttons{
    display: flex;
    justify-content: space-around;
}

.login_buttons p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.login_buttons>button, .registerButton {
    padding: 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #303237;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        background-color: #46484e;
    }
}

.login__lang {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 30px;
    padding: 10px;
}

.login__lang>p {
    color: gray;
    margin-right: 5px;
    cursor: pointer;
    font-size: 13px;
}

.login__lang>p:hover {
    color: gray;
    margin-right: 5px;
    text-decoration: underline;
}

.login__lang>.MuiSvgIcon-root {
    color: gray;
}

.login__footer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login__footer>p {
    color: gray;
    font-size: small;
    cursor: pointer;
    text-align: center;
}

.login__footer>p:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 576px) {
    .login {
        height: 100%;
        /* margin-top: 20px; */
    }

    .login__footer {
        display: block;
        margin-left: 20px;
    }

    .login__auth {
        display: block;
        margin-top: 0px;
    }

}