.sidebar {
  height: 100%;
  margin-left: 115px;
  margin-right: 10px;
}

@media only screen and (max-width: 1403px) {
  .sidebar {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .sidebar {
    margin-left: 18px;
  }
}


@media only screen and (max-width: 576px) {
  .sidebar {
    position: static;
    margin-right: 0;
  }
}